nav {
  color: black !important;
  background-color: white !important;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
 a {
  font-family: 'Lato';
  font-size: x-large;
  font-weight: bold;
 }
