<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" routerLink="/home">Flourish</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
      <li class="nav-item" *ngIf="!currentUser">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!currentUser">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item" *ngIf="currentUser">
        <a class="nav-link" *ngIf="currentUser">Welcome {{ currentUser.username }}</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Profile
        </a>
        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul> -->

        <div
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
          *ngIf="currentUser"
        >
          <a
            class="dropdown-item"
            routerLink="/profile/{{ currentUser.username }}" *ngIf="currentUser"
            >My Profile</a
          >
          <a class="dropdown-item">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onLogout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
