<main>
  <!-- categories list -->
  <nav class="nav justify-content-between">
    <a href="" class="p-2 link-secondary">Categories</a>
    <a href="" class="p-2 link-secondary">Categories</a>
    <a href="" class="p-2 link-secondary">Categories</a>
  </nav>
  <!-- Featured blog -->
  <div class="bg-dark text-white p-4 p-md-5 rounded mb-4">
    <h1 class="fst-italic">Featured Blog</h1>
    <p class="my-3">Sub-Title</p>
    <p class="lead mb-0">
      <a href="" class="link-secondary">Continue Reading</a>
    </p>
  </div>
  <!-- blog cards -->
  <div class="row">
    <!-- blog card -->
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <!-- blog categories -->
          <div>
            <strong class="d-line-block md-2 text-primary ms-2">Category Name</strong>
            <strong class="d-line-block md-2 text-primary ms-2">Category Name</strong>
            <strong class="d-line-block md-2 text-primary ms-2">Category Name</strong>
          </div>
          <!-- title -->
          <h3>Blog Title</h3>
          <!-- date -->
          <div class="mb-1 text-muted">Date</div>
          <!-- sub-title -->
          <div class="card-text mb-auto">Sub-Title</div>
          <!-- continue reading link -->
          <p>
            <a href="" class="link-secondary"></a>
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <!-- image -->
          <img scr="https://rb.gy/gj4w" width="200px" height="200px" alt="" >
        </div>
      </div>
    </div>
  </div>
</main>
