<main>

  <!-- categories list -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between mb-3">
    <div class="navbar-nav">
      <a href="#" class="nav-link" *ngFor="let category of categories">{{category.name}}</a>
    </div>
  </nav>
  <!-- old category navigation -->
  <!-- <nav class="nav justify-content-between">
    <a href="" class="p-2 link-secondary" *ngFor="let category of categories">{{category.name}}</a>
  </nav> -->

  <!-- Featured blog -->
  <div class="bg-dark text-white rounded mb-4 p-4 p-md-5" *ngIf="suggestedBlogs[0]">
    <h1 class="fst-italic">{{suggestedBlogs[0].title}}</h1>
    <p class="my-3">{{suggestedBlogs[0].sub_title}}</p>
    <p class="lead mb-0">
      <a routerLink="/blogs/{{suggestedBlogs[0].id}}" class="btn btn-secondary">Continue Reading</a>
    </p>
  </div>
  <!-- old featured blog -->
  <!-- <div class="bg-dark text-white p-4 p-md-5 rounded mb-4" *ngIf="suggestedBlogs[0]">
    <h1 class="fst-italic">{{suggestedBlogs[0].title}}</h1>
    <p class="my-3">{{suggestedBlogs[0].sub_title}}</p>
    <p class="lead mb-0">
      <a routerLink="/blogs/{{suggestedBlogs[0].id}}" class="link-secondary">Continue Reading</a>
    </p>
  </div> -->

  <!-- blog cards -->
  <div class="row">
    <!-- blog card -->
    <div class="col-md-6 shadow-sm mb-4 rounded" *ngFor="let blog of suggestedBlogs.slice(1)">
      <div class="row">
        <div class="col">
          <!-- blog categories -->
          <div>
            <strong class="d-line-block md-2 text-primary ms-2" *ngFor="let category of blog.categories">{{category.name}}</strong>
          </div>
          <!-- title -->
          <h3>{{blog.title}}</h3>
          <!-- date -->
          <div style="font-family: 'Merriweather';" class="mb-1 text-muted">{{blog.created_at}}</div>
          <!-- sub-title -->
          <div class="card-text mb-auto">{{blog.sub_title}}</div>
          <!-- continue reading link -->
          <p>
            <a routerLink="/blogs/{{blog.id}}" class="link-secondary">Continue Reading</a>
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <!-- image -->
          <img src="{{blog.image_path}}" style="object-fit:cover" width="200px" height="200px" alt="" >
        </div>
      </div>
    </div>
  </div>




</main>

