<div class="row">
  <!-- blog card -->
  <div class="col-md-6 shadow-sm mb-4 rounded" *ngFor="let blog of suggestedBlogs.slice(1)">
    <div class="row">
      <div class="col">
        <!-- blog categories -->
        <div>
          <strong class="d-line-block md-2 text-primary ms-2" *ngFor="let category of blog.categories">{{category.name}}</strong>
        </div>
        <!-- title -->
        <h3>{{blog.title}}</h3>
        <!-- date -->
        <div style="font-family: 'Merriweather';" class="mb-1 text-muted">{{blog.created_at}}</div>
        <!-- sub-title -->
        <div class="card-text mb-auto">{{blog.sub_title}}</div>
        <!-- continue reading link -->
        <p>
          <a routerLink="/blogs/{{blog.id}}" class="link-secondary">Continue Reading</a>
        </p>
      </div>
      <div class="col-auto d-none d-lg-block">
        <!-- image -->
        <img src="{{blog.image_path}}" style="object-fit:cover" width="200px" height="200px" alt="" >
      </div>
    </div>
  </div>
</div>
