header {
  margin-bottom: 2rem;
  padding: 8rem 0;
  background-size: cover;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 50% 
}
